@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.banner-bg {
  content: "";
  position: absolute;
  background: url("../images/wave4.svg") no-repeat center center/cover;
  height: 800px;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 1;
}

/*================== NAVBAR Section ==================*/
nav {
  margin-top: 30px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 7%;
  margin-right: 7%;
}

nav img {
  width: 150px;
  height: 55px;
}

nav ul.parent {
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul.parent li {
  text-decoration: none;
  list-style-type: none;
}

nav ul.parent li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-size: 1.2em;
}

nav ul.parent li a .drop-down-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul.parent li a .drop-down-parent .drop-down {
  width: 27px;
  height: 27px;
  margin-left: -3%;
}

nav ul.parent li a ul.child {
  display: none;
}

.banner {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner .bannerTextContainer {
  width: 50%;
}

.banner .bannerTextContainer .bannerText h1.heading {
  font-size: 3.3em;
  line-height: 60px;
}

.banner .bannerTextContainer .bannerText p.heading-des {
  font-size: 1.1em;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn {
  background-color: black;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  width: 235px;
  height: 80px;
  text-align: start;
  margin-right: 30px;
  cursor: pointer;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn a img {
  margin-right: 10px;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn a p {
  font-size: 1.2em;
}

.banner .bannerTab {
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #3082de), to(#03558b));
  background: linear-gradient(90deg, #3082de 17%, #03558b 100%);
  border-radius: 60% 40% 61% 39% / 59% 56% 44% 41%;
  width: 480px;
  height: 500px;
}

.banner .bannerTab img {
  margin-left: 15%;
  margin-top: -40px;
}

.video-container {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-container .wrapper {
  position: relative;
  display: inline-block;
}

.video-container .content {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #FFF;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.video-container .content .play img {
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 5px 25px;
  border-radius: 50%;
  width: 200px;
}

.video-container .content .play:hover {
  color: red;
}

.markingContainer {
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 7%;
}

.markingContainer .fetures-section {
  margin-bottom: 100px;
}

.markingContainer .mainHeading {
  font-size: 2.7em;
}

.markingContainer .slogan {
  font-size: 1.5em;
}

.markingContainer .mainHeading, .markingContainer .slogan {
  text-align: center;
}

.markingContainer .markingSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.markingContainer .markingSection .markingTabBG .loveshape {
  content: "";
  position: absolute;
  /* height: 988px; */
  top: 1713px;
  left: 430px;
  width: 490px;
  opacity: 1;
  z-index: -1;
}

.markingContainer .markingSection .markingTabBG .tabcurl {
  width: 400px;
  height: 650px;
  margin-top: -90px;
}

.markingContainer .markingSection .markingSectionMiniContainer {
  margin-top: 50px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .shareIcon1 {
  margin-top: 3px;
  margin-left: 15px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .shareIcon {
  margin-top: 3px;
  margin-right: 15px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment1 {
  text-align: right;
  height: 100px;
  width: 180px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment1 p {
  font-size: 18px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment2 {
  text-align: left;
  height: 100px;
  width: 180px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment2 p {
  font-size: 18px;
}

.pricing-section {
  margin-top: 160px;
  margin-left: 7%;
  margin-right: 7%;
}

.pricing-section .apple-pricing-section .apple-logo, .pricing-section .android-pricing-section .apple-logo {
  display: block;
  margin: auto;
  -webkit-box-shadow: 14px 4px 20px 1px #e2dcdc;
          box-shadow: 14px 4px 20px 1px #e2dcdc;
  border-radius: 50%;
}

.pricing-section .apple-pricing-section h1.pricing-heading, .pricing-section .android-pricing-section h1.pricing-heading {
  margin-top: 25px;
  text-align: center;
  font-size: 2.8em;
}

.pricing-section .apple-pricing-section p.pricing-des, .pricing-section .android-pricing-section p.pricing-des {
  text-align: center;
  font-size: 1.9em;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container, .pricing-section .apple-pricing-section .android-pricing-card-container, .pricing-section .android-pricing-section .apple-pricing-card-container, .pricing-section .android-pricing-section .android-pricing-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card {
  height: 860px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 5px 10px 9px 3px #0000000d;
          box-shadow: 5px 10px 9px 3px #0000000d;
  border-radius: 80px 0px 80px 0px;
  width: 550px;
  margin-top: 80px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading {
  background: linear-gradient(45deg, #0171bd, #00CCFF);
  border-radius: 80px 0px 80px 0px;
  height: 200px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan {
  text-align: center;
  color: white;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3 {
  font-size: 1.5em;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1 {
  font-size: 2em;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .card-content-container, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .card-content-container, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .card-content-container, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .card-content-container {
  margin-left: 35px;
  margin-top: 60px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content p, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content p, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content p, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content .circle, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content .circle, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content .circle, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content .circle {
  margin-left: 20px;
  margin-right: 15px;
  display: inline-block;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-btn, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-btn, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-btn, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-btn button, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-btn button, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-btn button, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-btn button {
  height: 70px;
  width: 280px;
  font-size: 1.5em;
  background-color: #0171bd;
  color: white;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.pricing-section .android-pricing-section {
  margin-top: 120px;
}

.pricing-section .android-pricing-section .logo-container {
  height: 100px;
  width: 100px;
}

.pricing-section .android-pricing-section p.pricing-des {
  text-align: center;
  font-size: 1.5em;
}

.pricing-section .android-pricing-section .android-pricing-card-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.try-now-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.try-now-container .slide-show-container {
  width: 90%;
  height: 170px;
  border-radius: 110px 7px 110px 7px;
  background: linear-gradient(45deg, #0171bd, #00ccff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4%;
  padding-right: 4%;
}

.try-now-container .slide-show-container .slide-text {
  color: white;
  font-size: 1.3em;
}

.try-now-container .slide-show-container .try-now {
  background-color: white;
  color: black;
  font-size: 1.3em;
  width: 350px;
  height: 65px;
  border-radius: 30px 5px 30px 5px;
  text-align: center;
  padding-top: 12px;
}

footer {
  margin: 0;
  padding: 0;
}

footer img {
  position: absolute;
  margin-bottom: 100px;
}
/*# sourceMappingURL=style.css.map */