@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@800&display=swap");
/*===================== Reset Code ==================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/*===================== Banner BackGround ==================*/
.banner-bg {
  content: "";
  position: absolute;
  background: url("../images/wave4.svg") no-repeat center center/cover;
  height: 800px;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 1;
}

/*================== NAVBAR Section ==================*/
nav {
  margin-top: 50px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 7%;
  margin-right: 7%;
}

nav img {
  width: 200px;
  height: 75px;
}

nav ul.parent {
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul.parent li {
  text-decoration: none;
  list-style-type: none;
}

nav ul.parent li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-size: 1.6em;
}

nav ul.parent li a .drop-down-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul.parent li a .drop-down-parent .drop-down {
  width: 27px;
  height: 27px;
  margin-left: -3%;
  margin-top: 5px;
}

nav ul.parent li a ul.child {
  display: none;
}

/*===================== Banner Section ==================*/
.banner {
  /*===================== Banner Section parant ==================*/
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner .bannerTextContainer {
  /*===================== Banner Text Container ==================*/
  width: 50%;
}

.banner .bannerTextContainer .bannerText h1.heading {
  font-size: 3.3em;
  line-height: 60px;
}

.banner .bannerTextContainer .bannerText p.heading-des {
  font-size: 1.3em;
}

.banner .bannerTextContainer .cardContainer {
  /*===================== App and Play store button ==================*/
}

.banner .bannerTextContainer .cardContainer .mini-card-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn {
  background-color: black;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  width: 235px;
  height: 80px;
  text-align: start;
  margin-right: 30px;
  cursor: pointer;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn a img {
  margin-right: 10px;
}

.banner .bannerTextContainer .cardContainer .mini-card-parent button.store-btn a p {
  font-size: 1.2em;
}

.banner .bannerTab {
  /*===================== Banner Image ==================*/
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #3082de), to(#03558b));
  background: linear-gradient(90deg, #3082de 17%, #03558b 100%);
  border-radius: 60% 40% 61% 39% / 59% 56% 44% 41%;
  width: 480px;
  height: 500px;
}

.banner .bannerTab img {
  margin-left: 15%;
  margin-top: -40px;
}

/*===================== Video Section ==================*/
.video-container {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-container .wrapper {
  position: relative;
  display: inline-block;
}

.video-container .content {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #FFF;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.video-container .content .play img {
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 5px 25px;
  border-radius: 50%;
  width: 200px;
}

.video-container .content .play:hover {
  color: red;
}

/*===================== Highlight Section ==================*/
.markingContainer {
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 7%;
}

.markingContainer .fetures-section {
  /*===================== Highlight Section Heading ==================*/
  margin-bottom: 100px;
}

.markingContainer .fetures-section .mainHeading {
  font-size: 2.7em;
  text-align: center;
}

.markingContainer .fetures-section .slogan {
  font-size: 1.5em;
  text-align: center;
}

.markingContainer .markingSection {
  /*===================== Highlight Section Contents parent ==================*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.markingContainer .markingSection .markingTabBG {
  /*===================== Highlight Section Image ==================*/
}

.markingContainer .markingSection .markingTabBG .loveshape {
  content: "";
  position: absolute;
  /* height: 988px; */
  top: 1713px;
  left: 430px;
  width: 490px;
  opacity: 1;
  z-index: -1;
}

.markingContainer .markingSection .markingTabBG .tabcurl {
  width: 350px;
  height: 600px;
  margin-top: -60px;
}

.markingContainer .markingSection .markingSectionMiniContainer {
  /*===================== Highlight Section Features ==================*/
  margin-top: 50px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .shareIcon1 {
  margin-top: 3px;
  margin-left: 15px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .shareIcon {
  margin-top: 3px;
  margin-right: 15px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment1 {
  text-align: right;
  height: 100px;
  width: 180px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment1 p {
  font-size: 18px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment2 {
  text-align: left;
  height: 100px;
  width: 180px;
}

.markingContainer .markingSection .markingSectionMiniContainer .markingSectionMini .textAlignment2 p {
  font-size: 18px;
}

/*===================== Pricing Section ==================*/
.pricing-section {
  margin-top: 160px;
  margin-left: 7%;
  margin-right: 7%;
  /*===================== Apple and Android Pricing Section ==================*/
  /*===================== Android Pricing Section ==================*/
}

.pricing-section .apple-pricing-section, .pricing-section .android-pricing-section {
  /*===================== Apple and Android Pricing Section ==================*/
}

.pricing-section .apple-pricing-section .apple-logo, .pricing-section .android-pricing-section .apple-logo {
  display: block;
  margin: auto;
  -webkit-box-shadow: 14px 4px 20px 1px #e2dcdc;
          box-shadow: 14px 4px 20px 1px #e2dcdc;
  border-radius: 50%;
}

.pricing-section .apple-pricing-section h1.pricing-heading, .pricing-section .android-pricing-section h1.pricing-heading {
  margin-top: 25px;
  text-align: center;
  font-size: 2.8em;
}

.pricing-section .apple-pricing-section p.pricing-des, .pricing-section .android-pricing-section p.pricing-des {
  text-align: center;
  font-size: 1.9em;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container, .pricing-section .apple-pricing-section .android-pricing-card-container, .pricing-section .android-pricing-section .apple-pricing-card-container, .pricing-section .android-pricing-section .android-pricing-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card {
  height: 860px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 5px 10px 9px 3px #0000000d;
          box-shadow: 5px 10px 9px 3px #0000000d;
  border-radius: 80px 0px 80px 0px;
  width: 550px;
  margin-top: 80px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading {
  background: linear-gradient(45deg, #0171bd, #00CCFF);
  border-radius: 80px 0px 80px 0px;
  height: 200px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan {
  text-align: center;
  color: white;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h3 {
  font-size: 2em;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan h1 {
  font-size: 3em;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan p, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan p, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan p, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-heading-container .monthly-plan-heading .monthly-plan p {
  font-size: 1.5em;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .card-content-container, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .card-content-container, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .card-content-container, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .card-content-container {
  margin-left: 35px;
  margin-top: 60px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content p, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content p, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content p, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content .circle, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content .circle, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .card-content-container .card-content .circle, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .card-content-container .card-content .circle {
  margin-left: 20px;
  margin-right: 15px;
  display: inline-block;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-btn, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-btn, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-btn, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.pricing-section .apple-pricing-section .apple-pricing-card-container .pricing-card .plan-btn button, .pricing-section .apple-pricing-section .android-pricing-card-container .pricing-card .plan-btn button, .pricing-section .android-pricing-section .apple-pricing-card-container .pricing-card .plan-btn button, .pricing-section .android-pricing-section .android-pricing-card-container .pricing-card .plan-btn button {
  height: 70px;
  width: 280px;
  font-size: 1.5em;
  background-color: #0171bd;
  color: white;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.pricing-section .android-pricing-section {
  margin-top: 120px;
}

.pricing-section .android-pricing-section .logo-container {
  height: 100px;
  width: 100px;
}

.pricing-section .android-pricing-section p.pricing-des {
  text-align: center;
  font-size: 1.5em;
}

.pricing-section .android-pricing-section .android-pricing-card-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*===================== Try Section ==================*/
.try-now-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.try-now-container .slide-show-container {
  width: 90%;
  height: 170px;
  border-radius: 100px 7px 100px 7px;
  background: linear-gradient(45deg, #0171bd, #00ccff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4%;
  padding-right: 4%;
}

.try-now-container .slide-show-container .slide-text {
  color: white;
  font-size: 1.3em;
  padding-top: 10px;
}

.try-now-container .slide-show-container .try-now {
  background-color: white;
  color: black;
  font-size: 1.3em;
  width: 350px;
  height: 65px;
  border-radius: 30px 5px 30px 5px;
  text-align: center;
  padding-top: 12px;
}

/*===================== Review Section ==================*/
.review-section {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*===================== Customer Section ==================*/
  /*===================== Comment Section ==================*/
}

.review-section .dashedContainer {
  margin-left: 50px;
}

.review-section .dashedContainer .dashed {
  width: 250px;
}

.review-section .customerContainer {
  width: 50%;
  margin-top: -630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
}

.review-section .customerContainer .cust {
  width: 100px;
  border-radius: 50%;
}

.review-section .customerContainer .id1 {
  margin-left: 220px;
  margin-top: 25px;
}

.review-section .customerContainer .id2 {
  margin-left: 70px;
  margin-top: -30px;
}

.review-section .customerContainer .id3 {
  margin-left: 8px;
  margin-top: 40px;
}

.review-section .customerContainer .id4 {
  margin-left: 40px;
  margin-top: 50px;
}

.review-section .customerContainer .id5 {
  margin-left: 230px;
  margin-top: -5px;
}

.review-section .customerContainer .id6 {
  margin-left: -50px;
}

.review-section .review {
  width: 50%;
}

.review-section .review h1 {
  font-size: 2.3em;
  font-weight: bolder;
  margin-bottom: 30px;
  width: 100%;
}

.review-section .review img {
  margin-left: 20px;
}

.review-section .review .commentsContainer {
  margin-top: -22px;
  background-color: rgba(163, 148, 148, 0.089);
  -webkit-box-shadow: 5px 0px 8px 3px #0000000d;
          box-shadow: 5px 0px 8px 3px #0000000d;
  border-radius: 10px;
  color: #1e1e1e;
  width: 90%;
  height: 300px;
}

.review-section .review .commentsContainer .comments1 {
  padding: 30px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-section .review .commentsContainer .comments1 .text {
  font-size: 1.5em;
  height: 180px;
}

.review-section .review .commentsContainer .comments1 .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e1e1e;
  font-size: 1.1em;
}

.review-section .review .commentsContainer .comments1 .intro .star {
  background-color: white;
  padding: 6px;
  border-radius: 12px 1px 12px 1px;
  width: 120px;
  -webkit-box-shadow: 5px 0px 8px 3px #0000000d;
          box-shadow: 5px 0px 8px 3px #0000000d;
}

.review-section .review .commentsContainer .comments2, .review-section .review .commentsContainer .comments3, .review-section .review .commentsContainer .comments4, .review-section .review .commentsContainer .comments5, .review-section .review .commentsContainer .comments6 {
  padding: 30px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.review-section .review .commentsContainer .comments2 .text, .review-section .review .commentsContainer .comments3 .text, .review-section .review .commentsContainer .comments4 .text, .review-section .review .commentsContainer .comments5 .text, .review-section .review .commentsContainer .comments6 .text {
  font-size: 1.5em;
  height: 180px;
}

.review-section .review .commentsContainer .comments2 .intro, .review-section .review .commentsContainer .comments3 .intro, .review-section .review .commentsContainer .comments4 .intro, .review-section .review .commentsContainer .comments5 .intro, .review-section .review .commentsContainer .comments6 .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e1e1e;
  font-size: 1.1em;
}

.review-section .review .commentsContainer .comments2 .intro .star, .review-section .review .commentsContainer .comments3 .intro .star, .review-section .review .commentsContainer .comments4 .intro .star, .review-section .review .commentsContainer .comments5 .intro .star, .review-section .review .commentsContainer .comments6 .intro .star {
  background-color: white;
  padding: 6px;
  border-radius: 12px 1px 12px 1px;
  width: 120px;
  -webkit-box-shadow: 5px 0px 8px 3px #0000000d;
          box-shadow: 5px 0px 8px 3px #0000000d;
}

.review-section .active {
  background: linear-gradient(45deg, #0171bd, #00ccff);
  border: 10px solid aqua;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #0171bd, #00ccff);
  border-radius: 50%;
}

/*===================== Footer Section ==================*/
footer {
  margin-top: 150px;
}

footer .bottomCurve {
  width: 100%;
  margin-bottom: -600px;
  z-index: -1;
}

footer .footerContainer {
  margin-top: -180px;
  /*===================== Footer play store button Section ==================*/
}

footer .footerContainer .footerHeader {
  text-align: center;
  color: white;
}

footer .footerContainer .footerHeader h1 {
  font-size: 5.5em;
}

footer .footerContainer .footerHeader p {
  font-size: 3.3em;
}

footer .footerContainer .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

footer .footerContainer .cardContainer .mini-card-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footerContainer .cardContainer .mini-card-parent button.store-btn {
  background-color: black;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  width: 280px;
  height: 90px;
  text-align: start;
  margin-right: 30px;
  cursor: pointer;
}

footer .footerContainer .cardContainer .mini-card-parent button.store-btn a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContainer .cardContainer .mini-card-parent button.store-btn a img {
  margin-right: 10px;
}

footer .footerContainer .cardContainer .mini-card-parent button.store-btn a p {
  font-size: 1.4em;
}

footer .footerContainer .cardContainer .mini-card-parent button.store-btn a h1 {
  font-size: 2em;
}

footer .footerContainer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 150px;
}

footer .footerContainer .social-icons i {
  color: white;
  font-size: 3.7em;
  margin-left: 2%;
  margin-right: 2%;
}

footer .footerContainer .endLine {
  border: 4px solid #0171bd;
  position: relative;
  top: 50px;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 5px;
}

footer .footerContainer .lastLine {
  text-align: center;
  color: white;
  margin-top: 100px;
  font-size: 1.5em;
}
/*# sourceMappingURL=style.css.map */